# Fake DB
### Extract and Data Preparation
+ Repo: https://sgithub.fr.world.socgen/oborderi/bot-ca

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IPython.display import display
import os

from corp_actions.db_analysis.db import DB

In [3]:
db = DB(random=True)

In [4]:
db.get_random()

creating df merger_acquisition
creating df buy_back

In [5]:
db.buy_back

,creation_date,data_bool2,data_bool_buy_back,data_categorical_buy_back,data_date_buy_back,data_num_buy_back,geographic,index,sector
0,2012-06-14 16:53:53.415135,False,False,mzr,2014-04-23 23:07:20.871879,4.888920,None,Index6,None
1,2013-01-13 03:56:51.070419,None,False,javp,2012-10-16 23:31:54.840463,6.657174,GB,Index3,None
2,2014-08-05 03:45:52.487720,False,False,ari,2013-03-22 06:35:14.312689,1.206620,France,None,Farming
3,2013-11-15 22:05:38.454292,True,None,tq,2011-07-09 03:43:30.097342,6.947407,USA,Index1,Banking
4,2012-08-16 16:21:10.601036,True,True,qh,2010-06-09 19:43:12.597140,5.094972,GB,Index6,Taxi_driving
5,2010-05-11 05:29:08.804435,True,True,mzr,2012-07-02 17:19:20.457285,7.862560,Spain,Index1,None
6,2014-10-22 09:36:29.417992,True,True,javp,2010-12-29 14:57:07.177385,4.513883,Germany,Index2,Banking
7,2013-12-21 04:41:51.049383,False,False,ari,2013-07-12 00:46:02.369080,7.831610,Italy,Index1,Farming
8,2011-10-21 14:57:36.074285,False,True,tq,2013-01-04 18:17:36.613630,3.956647,Italy,None,CS
9,2014-01-25 08:18:51.586065,True,False,qh,2014-03-09 00:49:28.376458,7.885554,Germany,Index6,Strategy
10,2014-02-18 18:45:02.715051,False,False,mzr,2013-12-05 12:37:21.175282,1.509722,GB,Index5,Taxi_driving
11,2014-12-30 02:51:34.461752,False,True,javp,2012-03-20 08:40:11.481499,3.203647,GB,Index4,Strategy
12,2012-05-14 19:29:54.727227,True,False,ari,2013-04-09 03:59:03.593477,1.061227,Italy,Index5,Farming
13,2012-06-13 16:44:57.026708,True,True,tq,2011-03-15 10:30:17.542050,9.953793,None,Index1,CS
14,2011-12-30 23:49:24.650051,False,True,qh,2011-05-17 18:38:35.818790,1.817184,Italy,Index1,Industry
15,2013-12-18 17:14:05.257830,False,None,mzr,2012-05-25 21:41:13.188969,6.963614,France,None,Industry
16,2014-10-09 01:49:27.434305,True,True,javp,2012-02-19 10:26:30.787380,1.211060,GB,None,Banking
17,2012-06-01 20:43:24.673651,None,False,ari,2015-01-26 02:05:31.002223,8.854561,Italy,Index2,Farming
18,2013-10-05 23:19:48.438872,True,False,tq,2012-04-26 01:25:06.123332,1.112690,Germany,Index6,Farming
19,2010-10-29 00:15:32.420239,None,True,qh,2011-06-07 01:15:07.474872,4.990654,Italy,Index1,Taxi_driving
20,2014-06-24 15:43:22.863745,None,False,mzr,2010-04-24 23:25:11.641484,9.889304,None,Index5,CS
21,2015-07-18 14:13:10.869769,True,False,javp,2010-02-04 08:49:36.619119,0.252677,Italy,Index4,Strategy
22,2010-01-27 06:13:22.096757,False,False,ari,2014-01-22 21:20:01.865382,5.651839,France,Index4,Banking
23,2015-07-12 15:09:05.608895,None,True,tq,2012-05-26 01:30:54.352183,2.932864,USA,Index1,Industry
24,2010-05-09 17:18:26.253190,True,True,qh,2011-06-22 17:56:37.988087,9.491470,None,Index4,CS
25,2010-09-20 05:44:21.416208,False,False,mzr,2010-04-22 03:36:08.780092,9.360660,Italy,Index5,Farming
26,2011-02-08 13:52:49.453551,None,True,javp,2015-02-01 19:11:31.513858,1.492114,Italy,Index6,Industry
27,2014-03-25 17:28:32.848635,False,True,ari,2013-05-04 22:00:47.966924,2.669110,USA,Index2,Banking
28,2011-05-20 01:04:31.322246,False,None,tq,2010-02-06 02:02:01.730700,8.716106,USA,Index1,CS
29,2011-04-13 05:54:54.567210,True,False,qh,2012-03-09 06:09:26.973256,7.799771,France,Index1,CS
30,2014-11-14 22:29:29.326365,False,True,mzr,2010-03-02 19:31:56.937756,0.477284,Italy,Index3,Farming
31,2010-02-07 23:17:05.999097,False,None,javp,2013-06-23 13:27:35.042650,7.531878,GB,Index2,None
32,2015-03-28 10:00:48.704394,True,False,ari,2011-04-20 01:43:27.184771,5.324085,GB,Index6,Strategy
33,2010-05-29 18:46:37.014609,True,False,tq,2014-10-30 22:10:27.987173,0.713337,Italy,Index6,Farming
34,2014-08-17 15:18:07.316945,None,True,qh,2013-10-23 02:51:06.042701,4.201862,Germany,Index6,Banking
35,2010-07-09 00:35:56.031307,False,True,mzr,2011-01-27 07:50:54.103566,3.645177,France,Index5,Strategy
36,2012-05-22 06:41:25.036187,True,False,javp,2011-02-23 10:07:41.651645,6.845191,Italy,None,CS
37,2013-01-30 23:09:31.418366,True,False,ari,2012-08-14 01:19:34.707520,3.527278,France,Index4,Strategy
38,2013-11-09 06:20:51.449208,False,False,tq,2012-01-14 11:22:53.025850,1.614007,None,Index1,Taxi_driving
39,2012-08-25 23:17:35.497623,True,True,qh,2013-10-08 09:55:50.412297,4.579703,Italy,Index6,None
40,2010-02-04 16:42:09.905519,True,True,mzr,2015-01-28 15:51:15.100469,6.933112,Italy,Index5,CS
41,2014-06-02 01:15:14.849009,True,False,javp,2013-10-22 21:30:29.287108,7.540099,GB,Index5,None
42,2010-09-16 00:50:19.078847,True,True,ari,2011-02-16 03:23:51.815810,2.270167,Spain,None,Industry
43,2012-08-09 02:57:51.932207,False,True,tq,2014-11-09 14:34:00.888917,0.645837,USA,Index3,None
44,2011-10-07 04:49:39.031347,True,True,qh,2013-02-18 05:45:32.299715,8.901569,GB,Index6,Industry
45,2013-08-18 23:06:31.619074,None,True,mzr,2011-11-08 18:27:32.802862,1.919400,France,Index6,Farming
46,2010-06-03 10:14:49.612122,False,False,javp,2012-09-07 04:41:14.631142,1.844876,Germany,None,None
47,2012-07-26 00:41:06.365934,True,True,ari,2011-03-03 14:17:19.631423,3.716257,Spain,Index2,Banking
48,2013-02-13 12:25:43.841827,False,None,tq,2012-05-02 06:40:02.409456,2.355634,None,Index6,Banking
49,2013-05-16 18:26:38.208313,False,True,qh,2011-01-22 15:39:52.293868,7.407147,Italy,Index1,Strategy

In [6]:
db.merger_acquisition

,creation_date,data_bool2,data_bool_merger_acquisition,data_categorical_merger_acquisition,data_date_merger_acquisition,data_num_merger_acquisition,geographic,index,sector
0,2010-07-09 21:34:41.490230,True,True,cqaufx,2011-09-26 01:32:43.760695,6.310904,Spain,Index3,Industry
1,2015-06-30 07:41:38.866753,True,True,bxmb,2010-08-11 20:24:15.605598,1.771667,Germany,Index1,Strategy
2,2015-04-10 20:21:25.416865,True,None,ztmz,2013-05-07 09:24:33.794654,5.441666,Italy,Index3,CS
3,2013-02-05 19:37:02.732689,True,False,zhdrowyt,2013-06-04 23:48:31.799018,1.396916,Germany,Index5,Taxi_driving
4,2014-01-02 12:18:13.134763,False,True,dya,2010-06-26 01:45:24.707654,6.062637,Spain,None,Strategy
5,2011-05-12 22:19:46.139764,True,False,cqaufx,2014-02-09 08:02:30.067118,8.075541,None,Index1,Industry
6,2013-07-11 11:30:58.876259,None,False,bxmb,2012-11-01 16:09:26.640731,5.371910,Italy,None,Farming
7,2010-09-10 10:13:14.055096,True,False,ztmz,2012-07-20 16:56:25.946634,2.661087,None,Index1,Industry
8,2013-07-09 02:03:51.811627,None,True,zhdrowyt,2011-10-05 19:32:54.548378,2.733467,Spain,None,Strategy
9,2012-01-18 01:39:38.480841,True,True,dya,2015-04-15 22:36:25.750819,1.235194,France,Index3,Taxi_driving
10,2011-04-18 19:55:41.177498,True,False,cqaufx,2014-11-14 02:55:47.737298,3.442710,Spain,Index4,Farming
11,2013-05-25 21:14:50.947966,False,False,bxmb,2013-07-21 12:28:34.893124,5.546708,Germany,Index5,None
12,2014-11-21 16:04:01.242379,True,False,ztmz,2010-12-01 06:54:26.322333,2.365567,USA,Index3,Strategy
13,2011-02-10 10:43:26.829057,False,True,zhdrowyt,2011-12-26 06:49:43.530369,3.423885,None,Index4,CS
14,2012-01-30 10:08:47.084430,False,False,dya,2010-05-12 10:38:32.001676,0.946099,Germany,Index5,Banking
15,2010-06-28 11:31:16.715766,True,True,cqaufx,2014-07-04 04:51:45.955808,4.119124,GB,Index6,Industry
16,2010-08-29 06:42:46.131382,False,True,bxmb,2012-10-12 04:44:32.712668,6.416032,Spain,None,Industry
17,2012-12-01 15:41:18.009804,True,True,ztmz,2013-03-11 13:00:22.141817,4.718041,None,Index2,Taxi_driving
18,2013-02-27 10:34:33.849723,False,True,zhdrowyt,2015-03-19 02:20:30.305120,0.599438,USA,Index2,CS
19,2012-12-22 02:57:18.242316,True,None,dya,2014-06-04 00:32:00.146186,5.298679,GB,Index1,Banking
20,2011-02-04 11:14:20.534998,False,True,cqaufx,2013-03-29 15:11:50.873868,2.973136,Italy,None,Industry
21,2012-11-01 02:59:53.209301,False,False,bxmb,2013-06-11 07:28:49.172211,5.753085,None,Index3,CS
22,2013-05-24 17:57:31.995049,False,False,ztmz,2011-07-25 01:41:09.182979,6.222362,France,Index3,None
23,2015-06-16 02:37:54.309962,False,False,zhdrowyt,2012-09-27 08:32:39.191693,8.063440,Spain,Index5,Farming
24,2013-05-26 04:01:20.164410,True,True,dya,2011-09-04 22:54:27.063663,2.513017,USA,Index2,Farming
25,2014-10-01 09:39:45.588713,False,False,cqaufx,2012-01-29 03:46:27.712292,8.874061,USA,Index1,CS
26,2015-06-11 20:03:55.573229,False,True,bxmb,2010-11-07 23:51:19.527341,0.050035,USA,Index6,None
27,2011-03-13 22:04:58.034738,False,True,ztmz,2015-03-19 14:23:43.954136,2.456208,Spain,None,Industry
28,2014-03-16 21:22:00.014101,False,None,zhdrowyt,2013-03-21 13:14:53.117484,6.249452,USA,Index1,Industry
29,2014-01-31 08:29:00.464298,True,True,dya,2014-10-25 08:10:23.398465,3.485388,Germany,None,Banking
30,2014-12-16 20:23:04.131891,False,True,cqaufx,2012-08-01 14:25:20.511448,2.278776,Germany,Index1,None
31,2011-05-05 15:11:41.523002,True,False,bxmb,2011-08-01 22:39:05.172161,1.589287,USA,Index1,None
32,2013-06-01 05:47:38.918285,False,True,ztmz,2015-05-15 12:06:26.812721,3.824934,France,Index2,CS
33,2011-06-28 07:06:56.606297,True,False,zhdrowyt,2015-01-04 16:13:11.257922,9.076221,Germany,Index5,Farming
34,2010-08-12 12:35:21.822333,False,False,dya,2010-09-29 05:10:37.243274,0.297022,Italy,Index4,CS
35,2011-12-12 02:26:06.563207,True,False,cqaufx,2013-04-28 01:32:35.101615,2.244705,None,Index1,CS
36,2012-12-24 20:42:23.167025,True,True,bxmb,2015-07-06 03:49:20.273744,3.515873,Spain,None,Industry
37,2012-12-31 14:24:01.165249,True,True,ztmz,2015-03-21 20:22:33.639669,7.872210,Germany,None,None
38,2012-07-20 14:33:32.747342,True,True,zhdrowyt,2013-06-10 19:59:22.668056,6.893542,None,Index6,Farming
39,2012-09-28 15:03:07.961946,True,True,dya,2014-01-11 03:58:07.288399,0.907084,Germany,Index1,None
40,2010-08-18 12:39:04.403560,True,True,cqaufx,2010-03-14 11:03:20.779341,0.472245,None,Index3,Taxi_driving
41,2011-04-28 19:48:52.810077,False,True,bxmb,2014-05-26 12:47:50.683463,8.414165,None,None,Taxi_driving
42,2014-05-04 02:49:42.497576,True,True,ztmz,2010-05-13 06:07:23.301264,9.441754,Germany,Index1,CS
43,2013-10-12 04:50:46.189040,True,None,zhdrowyt,2010-02-13 16:28:19.464014,7.358786,Italy,Index3,Taxi_driving
44,2014-01-08 08:58:34.478224,True,True,dya,2011-05-12 11:41:22.154312,2.285465,Germany,Index3,Taxi_driving
45,2013-10-30 03:37:41.388772,False,False,cqaufx,2011-06-22 14:13:06.924032,6.015590,Italy,Index3,None
46,2013-11-14 01:29:53.014955,True,False,bxmb,2012-09-23 10:41:13.363966,4.610598,GB,Index5,CS
47,2011-05-28 11:56:22.444369,False,False,ztmz,2012-02-15 16:39:35.951142,2.494458,USA,Index6,CS
48,2015-03-13 10:51:23.896014,False,False,zhdrowyt,2012-04-15 08:03:56.853686,7.343295,Italy,Index5,None
49,2010-05-11 03:45:34.297847,True,True,dya,2010-02-08 08:03:51.559290,6.401991,Germany,Index4,CS

In [7]:
db.put_to_disk(os.path.join('data', 'carbon_random3.pk'))

store tables from disk
	table merger_acquisition
	table buy_back

In [8]:
db.get_from_disk(os.path.join('data', 'carbon_random3.pk'))

read tables from disk
	table merger_acquisition
	table buy_back

In [9]:
db.put_to_csv()

save dataframes to disk
	merger_acquisition       	dump\df_merger_acquisition.csv
	buy_back                 	dump\df_buy_back.csv

In [10]:
# print(db.overview(toString=True))
db.overview()

Overview - dataframes structures

merger_acquisition
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
creation_date                          50 non-null datetime64[ns]
data_bool2                             48 non-null object
data_bool_merger_acquisition           46 non-null object
data_categorical_merger_acquisition    50 non-null object
data_date_merger_acquisition           50 non-null datetime64[ns]
data_num_merger_acquisition            50 non-null float64
geographic                             41 non-null object
index                                  40 non-null object
sector                                 41 non-null object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 3.6+ KB

buy_back
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
creation_date                50 non-null datetime64[ns]
data_bool2                   42 non-null object
data_bool_buy_back           45 non-null object
data_categorical_buy_back    50 non-null object
data_date_buy_back           50 non-null datetime64[ns]
data_num_buy_back            50 non-null float64
geographic                   44 non-null object
index                        43 non-null object
sector                       42 non-null object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 3.6+ KB

In [11]:
db.distinct_values()

merger_acquisition
	 number columns: ['data_num_merger_acquisition']
	 date columns: ['creation_date', 'data_date_merger_acquisition']
buy_back
	 number columns: ['data_num_buy_back']
	 date columns: ['creation_date', 'data_date_buy_back']

Overview - distinct values
{
  "merger_acquisition": {
    "data_num_merger_acquisition": {
      "min": 0.05003491030026286,
      "max": 9.441754046993779,
      "type": "number",
      "avg": 4.3583091617526595
    },
    "creation_date": {
      "earliest": "2010-05-11",
      "latest": "2015-06-30",
      "type": "date"
    },
    "index": [
      null,
      "Index4",
      "Index1",
      "Index3",
      "Index2",
      "Index5",
      "Index6"
    ],
    "data_bool_merger_acquisition": [
      false,
      true,
      null
    ],
    "data_bool2": [
      false,
      true,
      null
    ],
    "sector": [
      null,
      "Farming",
      "Strategy",
      "Banking",
      "CS",
      "Taxi_driving",
      "Industry"
    ],
    "data_categorical_merger_acquisition": [
      "zhdrowyt",
      "bxmb",
      "cqaufx",
      "ztmz",
      "dya"
    ],
    "geographic": [
      "Spain",
      null,
      "USA",
      "Italy",
      "France",
      "GB",
      "Germany"
    ],
    "data_date_merger_acquisition": {
      "earliest": "2010-02-08",
      "latest": "2015-07-06",
      "type": "date"
    }
  },
  "buy_back": {
    "data_categorical_buy_back": [
      "javp",
      "ari",
      "qh",
      "tq",
      "mzr"
    ],
    "creation_date": {
      "earliest": "2010-01-27",
      "latest": "2015-07-18",
      "type": "date"
    },
    "geographic": [
      null,
      "Spain",
      "USA",
      "Italy",
      "France",
      "GB",
      "Germany"
    ],
    "data_date_buy_back": {
      "earliest": "2010-02-04",
      "latest": "2015-02-01",
      "type": "date"
    },
    "data_num_buy_back": {
      "min": 0.2526765951908516,
      "max": 9.95379266383578,
      "type": "number",
      "avg": 4.755466249943076
    },
    "index": [
      null,
      "Index4",
      "Index1",
      "Index3",
      "Index2",
      "Index5",
      "Index6"
    ],
    "data_bool2": [
      false,
      true,
      null
    ],
    "data_bool_buy_back": [
      false,
      true,
      null
    ],
    "sector": [
      null,
      "Farming",
      "Strategy",
      "Banking",
      "CS",
      "Taxi_driving",
      "Industry"
    ]
  }
}